*~
.*
.DS_Store
Viewer/Xcode
Viewer/Docs/
Viewer/Export/
Viewer/Textures/
Viewer/crossdomain.xml
Viewer/standAlone/
Viewer/windows/
Viewer/Library/
Viewer/flash/
Viewer/implants/
Viewer/Assets/Viewer/Rec/
Viewer/simmodels/
!.gitignore
!.gitattributes
bodymarks/Library
!bodymarks/Library/EditorBuildSettings.asset
!bodymarks/Library/InputManager.asset
!bodymarks/Library/ProjectSettings.asset
!bodymarks/Library/QualitySettings.asset
!bodymarks/Library/TagManager.asset
!bodymarks/Library/TimeManager.asset
!bodymarks/Library/AudioManager.asset
!bodymarks/Library/DynamicsManager.asset
!bodymarks/Library/NetworkManager.asset
*.userprefs
*.pidb
*.pidb.meta
*.csproj
*.sln
Viewer/Assets/Viewer
Viewer/Assets/Pictures.meta
Viewer/Assets/Pictures
Viewer/Assets/xml.meta
Viewer/Assets/xml
Viewer/Assets/Viewer/SmartSim
Viewer/Assets/Viewer/SmartSim.meta
Viewer/Assets/temp
Viewer/Assets/temp.meta
Viewer/Assets/StudioK3D/Model/
Viewer/Assets/StudioK3D/Model.meta
Viewer/Assets/StudioK3D/XML/
Viewer/Assets/StudioK3D/XML.meta
Viewer/Saved
Viewer/Saved.meta
Viewer/Assets/BonesStudio/Models/
Viewer/Assets/BonesStudio/blendshapes/
Dlls
*.zip
*.zip.meta
scripts/config.txt
BuildSetUp*.json
